<h2>Ajax</h2>
<div class="lst-ajax-test"></div>
<script src="~/scripts/jquery.min.js"></script>
<script src="/scripts/jquery.autoajax.js"></script>
<div class="pager-outer" id="pager-outer">

</div>
@Html.MakePager()