@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<h2>CodeComb.AspNet.Extensions</h2>
<table>
    <tr>
        <td>The Number of Templates</td>
        <td>@ViewBag.TemplatesCount</td>
    </tr>
    <tr>
        <td>Current Template</td>
        <td>@ViewBag.CurrentTemplate</td>
    </tr>
    <tr>
        <td>User count</td>
        <td>@ViewBag.UserCount</td>
    </tr>
</table>